{% include "blocks/head.html" %}
{% include "blocks/header.html" %}
    <main>
        {{ page.content }}
        {%- if page.dirs -%}
        <ul class="dirs">
            {%- for dir in page.dirs -%}
            <li><a href="{{ dir.url }}">{{ dir.name }}</a></li>
            {%- endfor -%}
        </ul>
        {%- endif -%}
        {%- if page.pages -%}
        <ul class="pages">
            {%- for p in page.pages -%}
            <li><a href="{{ p.url }}">{{ p.name }}</a></li>
            {%- endfor -%}
        </ul>
        {%- endif -%}
    </main>
{% include "blocks/footer.html" %}
