{% include "blocks/head.html" %}
{% include "blocks/header.html" %}
    <main>
        {{ page.content }}
        {%- if page.image -%}
        <figure>
            <a href="{{ page.image.url }}"><img src="{{ page.image.url }}" alt="{{ page.image.alt_text or page.image.name }}" class="full"></a>
            {%- if page.image.title or page.image.description or page.image.camera or page.image.location or page.image.city or page.image.country -%}
            <figcaption>
                {%- if page.image.title -%}
                <strong>{{ page.image.title }}</strong>
                {%- endif -%}
                {%- if page.image.datetime -%}
                <p>{{ page.image.datetime.strftime("%A, %B %-d, %Y") }}</p>
                {%- endif -%}
                {%- if page.image.description -%}
                <p>{{ page.image.description }}</p>
                {%- endif -%}
                {%- if page.image.camera or page.image.focal_length or page.image.aperture or page.image.shutter or page.image.iso -%}
                <p class="exif">
                    {%- if page.image.camera -%}{{ page.image.camera }}{%- endif -%}
                    {%- if page.image.focal_length -%} {{ page.image.focal_length }}{%- endif -%}
                    {%- if page.image.aperture -%} {{ page.image.aperture }}{%- endif -%}
                    {%- if page.image.shutter -%} {{ page.image.shutter }}{%- endif -%}
                    {%- if page.image.iso -%} ISO {{ page.image.iso }}{%- endif -%}
                </p>
                {%- endif -%}
                {%- if page.image.location or page.image.city or page.image.country -%}
                <p class="location">
                    {%- set parts = [] -%}
                    {%- if page.image.location -%}{%- if parts.append(page.image.location) -%}{%- endif -%}{%- endif -%}
                    {%- if page.image.city -%}{%- if parts.append(page.image.city) -%}{%- endif -%}{%- endif -%}
                    {%- if page.image.country -%}{%- if parts.append(page.image.country) -%}{%- endif -%}{%- endif -%}
                    {{ parts | join(", ") }}
                </p>
                {%- endif -%}
            </figcaption>
            {%- endif -%}
        </figure>
        {%- endif -%}
    </main>
{% include "blocks/footer.html" %}
